<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Angular &amp; WebAssembly</h1>
    <p class="lead">A collection of examples of how WebAssembly can be used with Angular</p>
    <!-- <p>
      <img src="assets/img/angular-wasm.png" alt="Angular &amp; WebAssembly logos" />
    </p>
    <p>
      <a class="btn btn-primary" routerLink="/"> <i class="ion-home"></i> Home</a>
      <a class="btn btn-primary" href="https://github.com/boyanio/angular-wasm" target="_blank" rel="noopener">
        <i class="ion-social-github"></i> GitHub</a
      >
      <a class="btn btn-primary" href="https://twitter.com/boyanio" target="_blank" rel="noopener">
        <i class="ion-social-twitter"></i> Twitter</a
      >
    </p> -->
  </div>
</section>

<router-outlet></router-outlet>
